#include <dt-bindings/zmk/keys.h>
#include "dvorak_qwerty.dtsi"

/ {
    behaviors {
        semi_med: semicolon_media_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "SEMICOLON_MEDIA_HOLD_TAP";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <175>;
            bindings = <&mo>, <&SEMI_Z>;
        };
        dash_sym: dash_symbols_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "DASH_SYMBOLS_HOLD_TAP";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <175>;
            bindings = <&mo>, <&kp>;
        };
        z_med: z_media_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "Z_MEDIA_HOLD_TAP";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <175>;
            bindings = <&mo>, <&kp>;
        };
        r_cag: r_ctrl_alt_gui {
			compatible = "zmk,modified-key-press";
			label = "R_CTRL_ALT_GUI";
			#binding-cells = <1>;
			modifiers = MOD_RGUI | MOD_RALT | MOD_RCTL;
		}; 
    };
};