// German symbols (windows)
ZMK_MACRO(a_um, bindings = <&macro_press &kp LALT>, <&macro_tap &kp KP_N1 &kp KP_N3 &kp KP_N2>, <&macro_release &kp LALT>;)
ZMK_MACRO(o_um, bindings = <&macro_press &kp LALT>, <&macro_tap &kp KP_N1 &kp KP_N4 &kp KP_N8>, <&macro_release &kp LALT>;)
ZMK_MACRO(u_um, bindings = <&macro_press &kp LALT>, <&macro_tap &kp KP_N1 &kp KP_N2 &kp KP_N9>, <&macro_release &kp LALT>;)
ZMK_MACRO(ss, bindings = <&macro_press &kp LALT>, <&macro_tap &kp KP_N2 &kp KP_N2 &kp KP_N5>, <&macro_release &kp LALT>;)

ZMK_MACRO(a_upper_umlaut, bindings = <&macro_press &kp LALT>, <&macro_tap &kp KP_N1 &kp KP_N4 &kp KP_N2>, <&macro_release &kp LALT>;)
ZMK_MACRO(o_upper_umlaut, bindings = <&macro_press &kp LALT>, <&macro_tap &kp KP_N1 &kp KP_N5 &kp KP_N3>, <&macro_release &kp LALT>;)
ZMK_MACRO(u_upper_umlaut, bindings = <&macro_press &kp LALT>, <&macro_tap &kp KP_N1 &kp KP_N5 &kp KP_N4>, <&macro_release &kp LALT>;)

// common multi character symbols/ligatures
ZMK_MACRO(elixir_pipe, bindings = <&kp PIPE &kp GREATER_THAN>;)
ZMK_MACRO(l_dash_arrow, bindings = <&kp LESS_THAN &kp MINUS>;)
ZMK_MACRO(r_dash_arrow, bindings = <&kp MINUS &kp GREATER_THAN>;)
ZMK_MACRO(l_equals_arrow, bindings = <&kp LESS_THAN &kp EQUAL>;)\
ZMK_MACRO(r_equals_arrow, bindings = <&kp EQUAL &kp GREATER_THAN>;)
